.btn-google {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn-google:hover {
    background-color: #357ae8;
  }
  